@font-face {
    font-family: digitalFont;
    src: url(digital-7.ttf);
}

main {
    background: #1B244A;
    width: 575px;
    height: 385px;
    border-radius: 5px;
    margin: 20px auto;
    border: 7px solid #9AABD8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: digitalFont;
}

.home-section, .guest-section {
    
    width: 155px;
    height: 280px;
    text-align: center;
}

#increasescores {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h3{
    border: 3px solid #9AABD8;
    border-radius: 5px;
    padding: 8px;
    margin: 20px 0px;
    color: #9AABD8;
    cursor: pointer;
}

h2 {
    background: #080001;
    height: 110px;
    color : #F94F6D;
    font-size: 90px;
    margin: 10px 7px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 15px;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight; bold;
    font-size: 35px;
}
